body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6fa3ef;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    background-color: #6fa3ef;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #4f81d4;
}

main {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #6fa3ef;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Contenedor principal de las tecnologias con flexbox */
.contenedor-realidad {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 20px;
}

.columna {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.columna img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .contenedor-pinturas {
        flex-direction: column;
    }
}

